*{
  margin:0%;
  padding:0%;
}

header{
  padding-top: 1%;
  background-color: antiquewhite;
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-direction: column; 
  text-align: center;
}

div{
  margin: 20px;

}


#country{
  width: 500px;
  height: 30px;
}
#lookup{
  width: 100px;
  height: 30px;
}

body { 
  font-family: 'Roboto', sans-serif;
 }
